{% extends "est_app/base.html" %}


{% block bodyblk%}
<div class="jumbotron">
    <h2>Welcome to Estate Broker webpage</h2><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, provident quae eaque 
        quaerat libero veniam natus illum. Ad sint officia esse ab nostrum aliquid ratione, 
        perferendis suscipit. Saepe, dicta necessitatibus.</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Consequuntur doloribus temporibus exercitationem pariatur dicta dolorem magnam, 
        assumenda optio esse architecto. Quae quis magni magnam suscipit unde accusamus 
        fugiat cupiditate tenetur?</p>
        
</div>
    

{%endblock%}