{% extends "est_app/base.html" %}


{% block bodyblk%}
{% if user.is_authenticated %}
        <h3 id="ph3">Click <a href="{% url 'property_new' %}">here</a> to create new properties</h3>
        <br><br>
    {% endif %}
{% for property in property_list %}
    <div class="pptdraft">
        
        <h1><a href="{% url 'property_detail' pk=property.pk %}">{{ property.title }}</a></h1>
        <p class="date"> created: {{ property.created_date|date:'d-m-Y' }}</p>
        <p class="pptdesc"> {{ property.description|truncatechars:200|safe }} </p>
        <a class="btn btn-default" href="{% url 'property_publish' pk=property.pk %}">Publish</a>
    </div>


{% endfor %}

    
{%endblock%}